# Excel data to HTML

The information recorded in an Excel or CSV file needed to be passed to an HTML code to include on a web page.
The information in the Excel file had the following structure:

<table>
  <tr>
    <th>product_name</th>
    <th>description</th>
    <th>price</th>
    <th>is_offer</th>
    <th>is_category</th>
  </tr>

  <tr>
    <td> Categoryname1 </td>
    <td> NaN </td>
    <td> $123.456 </td>
    <td> NaN </td>
    <td> yes </td>
  </tr>

  <tr>
    <td> Offername1 </td>
    <td> Offerdescription1 </td>
    <td> $123.456 </td>
    <td> yes </td>
    <td> NaN </td>
  </tr>

  <tr>
    <td> Product1 </td>
    <td> Description </td>
    <td> $123.456 </td>
    <td> NaN </td>
    <td> NaN </td>
  </tr>

</table>

In [1]:
#First we import the only library we use, pandas was selected because of the easy data manipulation of csv and Excel type files
import pandas as pd

In [2]:
url= "https://raw.githubusercontent.com/gabosxpiens/CSVDatatoHTML/master/Data.csv"
data = pd.read_csv(url) #gets the data
data.head(10) #shows the first ten rows of the data

  product_name  ... is_category
0       Offer1  ...         NaN
1       Offer2  ...         NaN
2       Offer3  ...         NaN
3       Offer4  ...         NaN
4       Offer5  ...         NaN
5          NaN  ...         NaN
6       Fishes  ...         yes
7          NaN  ...         NaN
8   Hake - 1kg  ...         NaN
9   Pout - 1kg  ...         NaN

[10 rows x 5 columns]

If an offer existed, it was expected that an HTML fraction of code like the following would be created for every offer:

```
<div class="offer-box">
<div><span class="menu-price"> $123.456 </span><b><span class="offer-title"> offer_title <span class="offer"> OFFER! </span></span></b></div>
<p class="offer-text"> offer_description </p>
</div>
```
In HTML that code shows like this:

<div class="offer-box">
<div><span class="menu-price"> $123.456 </span><b><span class="offer-title"> offer_title <span class="offer"> OFFER! </span></span></b></div>
<p class="offer-text"> offer_description </p>
</div>

If a category existed, it was expected that an HTML fraction of code like the following would be created for every offer:

`<h2 class="category-name"> category_name </h2>`


After this line the script should print the following code for every product below each category


`<div class="menu-item"><span class="menu-price"> $123.456 </span> product_name </div>`

In this case the HTML code will be the following:

<h2 class="category_name"> category_name </h2>

<div class="menu-item"><span class="menu-price"> $123.456 </span> product1_name </div>

<div class="menu-item"><span class="menu-price"> $234.567 </span> product2_name </div>

In [3]:
#Here we filter the data in two categories creating two DataFrames 
offers = data.loc[data["is_offer"] == "yes" ]
not_offers = data.loc[data["is_offer"].isna() & ~data["product_name"].isna()]

In [4]:
HTML_str = ""
code=""

for price, name, description in zip(offers["price"],offers["product_name"],offers["description"]):
  code = '<div class="offer-box">\n<div><span class="menu-price"> ' + price + '</span><b><span class="offer-title"> ' + name + '<span class="offer"> OFFER! </span></span></b></div>\n<p class="offer-text"> ' + description +'</p>\n</div>\n' + '\n'
  HTML_str=HTML_str + code

for price,name,is_category in zip(not_offers["price"],not_offers["product_name"],not_offers["is_category"]):
  if is_category == "yes":
    category = name
    code = '<h2 class="category-name"> ' + category + '</h2>'+'\n'
    HTML_str=HTML_str + code
  else:
    code = '<div class="menu-item"><span class="menu-price"> ' + price + '</span> '+ name + '</div>\n'+'\n'
    HTML_str=HTML_str + code

print(HTML_str)

<div class="offer-box">
<div><span class="menu-price"> $1.580,00</span><b><span class="offer-title"> Offer1<span class="offer"> OFFER! </span></span></b></div>
<p class="offer-text"> 1 kg langoustines + 1 kg squid tube + 1 kg baby squid</p>
</div>

<div class="offer-box">
<div><span class="menu-price"> $600,00</span><b><span class="offer-title"> Offer2<span class="offer"> OFFER! </span></span></b></div>
<p class="offer-text"> 1/2 kg Battered langoustines + 1/2 kg squid tube</p>
</div>

<div class="offer-box">
<div><span class="menu-price"> $1.050,00</span><b><span class="offer-title"> Offer3<span class="offer"> OFFER! </span></span></b></div>
<p class="offer-text"> 2 kg breaded hake + 2 kg hake</p>
</div>

<div class="offer-box">
<div><span class="menu-price"> $900,00</span><b><span class="offer-title"> Offer4<span class="offer"> OFFER! </span></span></b></div>
<p class="offer-text"> 1 kg langoustines + 1 kg breaded hake</p>
</div>

<div class="offer-box">
<div><span class="menu-price"> $800,00</span><b><span class="offer-title"> Offer5<span class="offer"> OFFER! </span></span></b></div>
<p class="offer-text"> 1 kg sea mix + 1 kg breaded hake</p>
</div>

<h2 class="category-name"> Fishes</h2>
<div class="menu-item"><span class="menu-price"> $250,00</span> Hake - 1kg</div>

<div class="menu-item"><span class="menu-price"> $430,00</span> Pout - 1kg</div>

<div class="menu-item"><span class="menu-price"> $450,00</span> Sole - 1kg</div>

<h2 class="category-name"> Seafood & others</h2>
<div class="menu-item"><span class="menu-price"> $550,00</span> Squid tube - 1kg</div>

<div class="menu-item"><span class="menu-price"> $650,00</span> Peeled prawn deveined - 1kg</div>

<div class="menu-item"><span class="menu-price"> $430,00</span> Baby squid - 1kg</div>

<div class="menu-item"><span class="menu-price"> $600,00</span> Prawns - 1kg</div>

<div class="menu-item"><span class="menu-price"> $550,00</span> Seafood (langoustines, squid tube, clam and mussel) - 1kg</div>

<h2 class="category-name"> Specials</h2>
<div class="menu-item"><span class="menu-price"> $340,00</span> Homemade breaded hake - 1kg</div>

<div class="menu-item"><span class="menu-price"> $350,00</span> Battered Prawn - 1/2 kg</div>

<div class="offer-box">
<div><span class="menu-price"> $1.580,00</span><b><span class="offer-title"> Offer1<span class="offer"> OFFER! </span></span></b></div>
<p class="offer-text"> 1 kg langoustines + 1 kg squid tube + 1 kg baby squid</p>
</div>

<div class="offer-box">
<div><span class="menu-price"> $600,00</span><b><span class="offer-title"> Offer2<span class="offer"> OFFER! </span></span></b></div>
<p class="offer-text"> 1/2 kg Battered langoustines + 1/2 kg squid tube</p>
</div>

<div class="offer-box">
<div><span class="menu-price"> $1.050,00</span><b><span class="offer-title"> Offer3<span class="offer"> OFFER! </span></span></b></div>
<p class="offer-text"> 2 kg breaded hake + 2 kg hake</p>
</div>

<div class="offer-box">
<div><span class="menu-price"> $900,00</span><b><span class="offer-title"> Offer4<span class="offer"> OFFER! </span></span></b></div>
<p class="offer-text"> 1 kg langoustines + 1 kg breaded hake</p>
</div>

<div class="offer-box">
<div><span class="menu-price"> $800,00</span><b><span class="offer-title"> Offer5<span class="offer"> OFFER! </span></span></b></div>
<p class="offer-text"> 1 kg sea mix + 1 kg breaded hake</p>
</div>

<h2 class="category-name"> Fishes</h2>
<div class="menu-item"><span class="menu-price"> $250,00</span> Hake - 1kg</div>

<div class="menu-item"><span class="menu-price"> $430,00</span> Pout - 1kg</div>

<div class="menu-item"><span class="menu-price"> $450,00</span> Sole - 1kg</div>

<h2 class="category-name"> Seafood & others</h2>
<div class="menu-item"><span class="menu-price"> $550,00</span> Squid tube - 1kg</div>

<div class="menu-item"><span class="menu-price"> $650,00</span> Peeled prawn deveined - 1kg</div>

<div class="menu-item"><span class="menu-price"> $430,00</span> Baby squid - 1kg</div>

<div class="menu-item"><span class="menu-price"> $600,00</span> Prawns - 1kg</div>

<div class="menu-item"><span class="menu-price"> $550,00</span> Seafood (langoustines, squid tube, clam and mussel) - 1kg</div>

<h2 class="category-name"> Specials</h2>
<div class="menu-item"><span class="menu-price"> $340,00</span> Homemade breaded hake - 1kg</div>

<div class="menu-item"><span class="menu-price"> $350,00</span> Battered Prawn - 1/2 kg</div>